@import url("https://fonts.googleapis.com/css?family=Poppins:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
}
a {
  text-decoration: none;
}
.sidebar {
  position: sticky;
  top: 0;
  left: 0;
  bottom: 0;
  width: 108px;
  height: 100vh;
  padding: 0 1.7rem;
  color: #fff;
  overflow: hidden;
  transition: all 0.25s linear;
  background: rgba(114, 99, 186, 255);
}
.sidebar:hover {
  width: 280px;
  transition: 0.25s;
}
.logo {
  height: 80px;
  padding: 16px;
}
.menu {
  height: 88%;
  position: relative;
  list-style: none;
  padding: 0;
}
.menu li {
  padding: 1rem;
  margin: 8px 0;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}
.menu li:hover,
.active {
  background: rgba(255, 255, 255, 0.2);
}
.menu a {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.menu a span {
  overflow: hidden;
  font-size: 0.8rem;
  font-weight: 400;
}
.menu a i {
  font-size: 1.2rem;
}
.main--content {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 2rem;
  background: #c6c3c3;
}
.header--wrap {
  padding: 10px 2rem 10px 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: #fff;
  border-radius: 10px;
}

.header--wrap .search {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.header--wrap img {
  width: 60px;
  height: 60px;
  cursor: pointer;
  border-radius: 50%;
}
.user--info {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.search--box {
  background: rgba(237, 237, 237, 237);
  border-radius: 15px;
  color: rgba(114, 99, 186, 255);
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 4px 12px;
  height: 48px;
}
.search--box input {
  background: transparent;
  font-size: 1rem;
  color: rgba(114, 99, 186, 255);
}
.search--box i {
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.search--box i:hover {
  transform: scale(1.25);
}

.card--container {
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
  margin-top: 20px;
}
.card--wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.main--title {
  font-size: 1rem;
  padding-bottom: 20px;
  color: rgba(114, 99, 186, 255);
}
.credit--card {
  background: rgba(195, 236, 206, 0.905);
  border-radius: 10px;
  padding: 1.2rem;
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transition: all 0.3s ease-in-out;
}

.credit--card:hover {
  transform: translateY(-8px);
}
.card--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.amount {
  display: flex;
  flex-direction: column;
}
.title {
  font-size: 15px;
  font-weight: 200;
}
.value {
  font-family: "Courier New", Courier;
  font-size: 1.5rem;
  font-weight: 600;
}
.icon {
  color: #fff;
  padding: 1.25rem;
  border-radius: 50%;
  font-size: 1.2rem;
  text-align: center;
  width: 60px;
  height: 60px;
  background: rgba(84, 186, 96, 0.943);
}
.bank--name {
  font-size: 1.5rem;
  color: gray;
  letter-spacing: 2px;
  font-family: "Courier New", Courier, monospace;
}
#total {
  background: rgb(211, 245, 255);
}
#totalIcon {
  background: rgb(130, 230, 251);
}
#debit {
  background: rgb(239, 219, 248);
}
#debitIcon {
  background: rgb(154, 128, 199);
}
#lend {
  background: rgb(255, 202, 218);
}
#lendIcon {
  background: rgb(246, 132, 132);
}

.tabular--wrap {
  background: #fff;
  margin-top: 20px;
  border-radius: 10px;
  padding: 2rem;
}
.table--container {
  width: 100%;
}
table {
  width: 100%;
  border-collapse: collapse;
}
table thead {
  font-size: 1.2rem;
  background: rgba(114, 99, 186, 255);
  color: #fff;
  text-align: left;
  font-weight: 500;
}
th {
  text-align: left;
  padding: 15px;
}
tbody {
  background: rgb(210, 207, 207);
}
td {
  padding: 15px;
  font-size: 14px;
}
tr:nth-child(even) {
  background: #e1dede;
}
tfoot {
  background: rgba(114, 99, 186, 255);
  font-weight: bold;
  color: #fff;
}
tfoot td {
  padding: 15px;
}
.table--container button {
  background: rgba(114, 99, 186, 255);
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
